name: Close Issue

on:
  workflow_dispatch:

jobs:
  close-issue:
    runs-on: ubuntu-latest

    steps:
    - name: Close Issue
      uses: peter-evans/close-issue@v1
      with:
        issue-number: 1
        repository: PoomSmart/YTUnShorts
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Close Issue 2
      uses: actions/github-script@v4
      with:
        script: |
            const { data: issues } = await github.issues.listForRepo({
              owner: 'PoomSmart',
              repo: 'YTUnShorts',
              creator: 'arichorn',
              state: 'open',
            });
            
            const issueNumber = issues.find(issue => issue.title === 'your-issue-title')?.number;

            if (issueNumber) {
              await github.issues.update({
                owner: 'PoomSmart',
                repo: 'YTUnShorts',
                issue_number: 1,
                state: 'closed',
              });
            }
