name: Delete Discussions
on:
  workflow_dispatch:

jobs:
  delete-discussions:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.3

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Debug Event Payload
        run: cat $GITHUB_EVENT_PATH

      - name: Fetch Discussions
        run: |
          REPO_API_URL="https://api.github.com/repos/arichorn/Delete-GitHub-Discussions/discussions"
          curl -s -X GET -u "x-access-token:${{ secrets.GITHUB_TOKEN }}" "${REPO_API_URL}" > discussions.json

      - name: Delete Discussions
        id: delete-discussions
        run: |
          TOKEN=$GITHUB_TOKEN
          DISCUSSIONS_JSON=$(cat discussions.json)
          DISCUSSION_IDS=$(echo "$DISCUSSIONS_JSON" | jq -r '.[] | .id')

          for DISCUSSION_ID in $DISCUSSION_IDS; do
            DISCUSSION_API_URL="https://api.github.com/repos/arichorn/Delete-GitHub-Discussions/discussions/${DISCUSSION_ID}"
            curl -s -X DELETE -u "x-access-token:${TOKEN}" "${DISCUSSION_API_URL}"
          done

      - name: Delete Specific Discussion
        id: delete-specific-discussion
        run: |
          TOKEN=$GITHUB_TOKEN
          DISCUSSION_URL="https://github.com/qnblackcat/uYouPlus/discussions/269"
          DISCUSSION_ID=$(echo $DISCUSSION_URL | awk -F'/' '{print $NF}')
          DISCUSSION_API_URL="https://api.github.com/repos/arichorn/Delete-GitHub-Discussions/discussions
